/********************************************
 * Project: Gif-Tastic
 * Developer: Sean Bryan
 * Date: 2019-04-27
*********************************************/
/* font-family: 'Wendy One', sans-serif;
font-family: 'Schoolbell', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Modak', cursive;
font-family: 'Philosopher', sans-serif; */

/* Element Styling */
body {
    background-image: url(../images/ocean5.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Wendy One', sans-serif;
    /* font-family: 'Schoolbell', cursive; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Permanent Marker', cursive; */
    /*font-family: 'Courgette', cursive;*/
    /* font-family: 'Lobster Two', cursive; */
    /* font-family: 'Modak', cursive; */  
    /* font-family: 'Philosopher', sans-serif; */
    color: white;
    /* font-size: 4em; */
    font-size: 80px;
}

h2 {
    /* font-family: 'Wendy One', sans-serif; */
    /* font-family: 'Schoolbell', cursive; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Permanent Marker', cursive; */
    /*font-family: 'Courgette', cursive;*/
    /* font-family: 'Lobster Two', cursive; */
    /* font-family: 'Modak', cursive; */
    font-family: 'Philosopher', sans-serif;
    color: white;
    font-size: 2em;
}

/* Class Styling */
button,
.topic-button {
    margin: 0 5px;
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    line-height: 16px; 
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
}

.new-button,
.clear-button {
    background-image: linear-gradient(to right, rgb(124, 122, 122) 0%, rgb(167, 165, 165) 50%, grey 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
}

.clear-button {
    border-radius: 5px; 
    height: 40px;
    padding: 2px 20px;
}

.topic-button:hover {
    background: #1C6EA4; 
}

.topic-button:active {
    background: #144E75; 
}

.card {
    height: 300px;
    /* margin: 6px 6px; */
}

.card-body {
    text-align: center
}

/* .card-column {
    width: 225px;
} */

/* ID Styling */
#clear-gifs {
    text-align: right
}
